
.hcis_people_picker {
  .ant-select-selector {
    min-height: 120px;
    align-items: self-start;
    padding: 2px 4px 2px 4px;
  }
  .ant-select-arrow {
    top: 20%;
  }
  .ant-select-clear {
    top: 20%;
  }
  .ant-select-selection-placeholder {
    top: 20%;
    padding-left: 4px;
  }
}
